.red {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;

}
.text {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(24, 31, 19);
    background-color: rgb(158, 241, 158);
    margin-top: 30px;
}